body {
    font-family: Arial, sans-serif;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('background.png');
    background-size: cover;
}
a{
    text-decoration: none;
    color: blue;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.login-box img {
    width: 100px;
    height: 90px;
    margin-bottom: 20px;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 18px;
    color: burlywood;
    text-align: top;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-button button{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px
}
.input-button button:hover{
    background-color: #2c612d;
    cursor: pointer;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 999;
}
